:root {
  --dark-purple: #160c28ff;
  --orange-yellow-crayola: #efcb68ff;
  --honeydew: #e1efe6ff;
  --ash-gray: #aeb7b3ff;
  --rich-black-fogra-29: #000411ff;
}

body {
  background-color: var(--honeydew);
}

.title {
  text-align: center;
}

.joke {
  align-items: center;
}

.jokes {
  text-align: center;
  color: var(--rich-black-fogra-29);
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 1rem;
  border: solid 1px var(--dark-purple);
}
